@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}

body {
  color: black;
  background: white;
  font-family: monospace, sans-serif !important;
}
